doctype
html
  head
    title Caruso
    link(rel='stylesheet', type='text/css', href='./css/main.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    #content
      h1 Caruso
      - var n = 0
      .caruso
        .arrow.left.disabled
          a.fa.fa-chevron-left(href="#") «
        .viewport
          .horizontal
            while n < 6 
              .item
                img(src='http://lorempixel.com/258/350/abstract/imagen' + n, alt='Cargando imagen ' + (n++) + '…')
        .arrow.right
          a.fa.fa-chevron-right(href="#") »
      .clearfix
      .extra Lorem… Ita…
      #dest
    script(src='./js/all.min.js')
// vim:set ts=2 sw=2 et:
